{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "block-scoped-var": 2,
    "default-case": 2,
    "no-else-return": 2,
    "vars-on-top": 2,
    "indent": [2, 2],
    "brace-style": [2, "1tbs"],
    "consistent-this": [2, "self"],
    "no-lonely-if": 2,
    "quotes": [2, "single"],
    "space-after-keywords": 2,
    "space-before-blocks": [2, "always"],
    "space-in-brackets": [2, "never"],
    "space-in-parens": [2, "never"],
    "spaced-line-comment": [2, "always", {"exceptions": ["/", "-"]}],
    "max-len": [2, 80, 2],
    "strict": 0,
    "no-use-before-define": [2, "nofunc"],
    "func-style": [2, "declaration"],
    "no-inline-comments": 2
  }
}
